<%= form_for(draft) do |f| %>
  <% if draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(draft.errors.count, "error") %> prohibited this draft from being saved:</h2>

      <ul>
      <% draft.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group form-group-lg">
    <%= f.label :title, class: "sr-only control-label" %>
    <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :content, class: "sr-only control-label" %>
    <%= f.text_area :content, placeholder: "本文",class: "form-control" %>
  </div>
  <div class="checkbox-inline">
    <%= check_box_tag :check_box_post, true, false, {} %>
    <%= label_tag :check_box_post, '<i class="fa fa-upload mr-5"></i>投稿する'.html_safe %>
  </div>
  <div>
    <%= button_tag '<i class="fa fa-floppy-o mr-5"></i>下書き保存'.html_safe, :type => "submit", class: "btn btn-primary" %>
  </div>
<% end %>
