<p id="notice"><%= notice %></p>

<h2>下書き一覧</h2>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drafts.each do |draft| %>
      <tr>
        <td><%= draft.title %></td>
        <td><%= draft.content %></td>
        <td><%= link_to 'Show', draft %></td>
        <td><%= link_to 'Edit', edit_draft_path(draft) %></td>
        <td><%= link_to 'Destroy', draft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to new_draft_path, method: :get, class: "btn btn-primary" do %>
  <i class="fa fa-pencil"></i>
<% end %>
