<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @draft.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @draft.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @draft.user %>
</p>

<%= link_to '編集', edit_draft_path(@draft) %> |
<%= link_to '戻る', drafts_path %>
