<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-success" role="alert">
          <button class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-danger" role="alert">
          <button class="close" data-dismiss="alert">&times;</button>
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
